<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset=utf-8>
<meta http-equiv=X-UA-Compatible content="IE=edge">
<meta name=viewport
	content="width=device-width,initial-scale=1,shrink-to-fit=no">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="icon" href="<%=CONST.CDN_URL%>/favicon.ico">
	<title>boot-vue</title>
	<link href="<%=CONST.CDN_URL%>/css/chunk-vendors.css" rel="preload" as="style">
	<link href="<%=CONST.CDN_URL%>/css/app.css" rel="preload" as="style">

	<link href="<%=CONST.CDN_URL%>/js/app.js" rel="preload" as="script">
	<link href="<%=CONST.CDN_URL%>/js/chunk-vendors.js" rel="preload" as="script">

	<link href="<%=CONST.CDN_URL%>/css/chunk-vendors.css" rel="stylesheet">
	<link href="<%=CONST.CDN_URL%>/css/app.css" rel="stylesheet">

<title><%=CONST.APP_TITLE %></title>
<script>
	<%-CONST_SCRIPT%>
</script>
</head>
<body>
	<noscript>
		<strong>We're sorry but ThisUI doesn't work properly
			without JavaScript enabled. Please enable it to continue.</strong>
	</noscript>
	<div id=app>Welcome Page</div>
	<script src="<%=CONST.CDN_URL%>/js/chunk-vendors.js"></script><script src="<%=CONST.CDN_URL%>/js/app.js"></script>
</body>

</script>
</html>


